<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/camp/<%= camp._id %>?_method=PUT" method="POST" class="needs-validation"
          enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>"
               placeholder="enter location" required>
      </div>
      <div class="input-group mb-3 custom-file">
        <label class="input-group-text custom-file-label" for="imageFile">Upload Images</label>
        <input type="file" class="form-control" id="imageFile" name="image" multiple>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" name="campground[price]" value="<%= camp.price %>"
                 placeholder="0.00" aria-label="price amount" aria-describedby="price" required>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="campground[description]" id="description"
                  placeholder="enter description" required><%= camp.description %></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="campground[title]" id="name" value="<%= camp.title %>"
               placeholder="enter name" required>
      </div>
      <div class="mb-3">
        <% if (camp.image.length) { %>
          <% camp.image.forEach(function(img, i) { %>
            <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
            <div class="form-check-inline">
              <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
            </div>
            <label for="image-<%= i %>">Delete?</label>
          <% }) %>
        <% } else { %>
          <img src="/img/placeholder.jpg" class="img-thumbnail" alt="">
        <% } %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info" type="submit">Update Campground</button>
        <a href="/camp/list" class="btn btn-danger">All Campgrounds</a>
      </div>
    </form>
  </div>
</div>